@font-face {
  font-family: "good_timing";
  src: url("/src/assets/font/good_timing/good\ timing\ bd.otf");
}

@font-face {
  font-family: "astro";
  src: url("/src/assets/font/astro/astro.ttf");
}

@font-face {
  font-family: "quantumn";
  src: url("/src/assets/font/quantum_4/Quantum.otf");
}

/*Main SCSS*/
* {
  margin: 0;
  font-family: "good_timing";
  box-sizing: border-box;
  body {
    background-image: url("/src/assets/bgMain/fond-ecran-abstrait-nebuleuse-ultra-detaille-9.jpg");
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
    h1,
    h2 {
      font-family: "astro";
      color: white;
    }
    h3 {
      font-family: "quantumn";
      font-size: 2em;
    }
    /*Header*/
    .header {
      height: 110px;
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      color: white;
      margin: 10px 0;
      h1 {
        text-align: center;
        font-size: xxx-large;
      }
    }
    /*3D canva*/
    .canva {
      display: flex;
      justify-content: center;
      canvas {
        overflow-x: hidden;
        border: solid 5px white;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
      }
    }
    /*Card*/
    .cardInfo {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      border: solid 1.5px white;
      margin-left: 150px;
      margin-top: 50px;
      width: 400px;
      height: 500px;
      .infoPlanete {
        color: red;
        font-size: 1.8rem;
        text-decoration: underline;
        font-weight: 900;
      }
      .image {
        padding-top: 30px;
        width: 150px;
        height: 150px;
      }
      .infoText {
        color: white;
        font-weight: 900;
        padding-top: 20px;
        .info {
          color: red;
          text-decoration: underline;
        }
      }
    }
    /*footer*/
    footer {
      color: white;
      text-align: center;
      .teamcontainer {
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        ul {
          list-style: none;
          li {
            display: flex;
            flex-direction: row;
            .avatar {
              width: 50px;
            }
            .github {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
